<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vayle.project.mapper.AreasMapper">

    <resultMap id="BaseResultMap" type="com.vayle.project.model.entity.Areas">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="areaMargin" column="areaMargin" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,areaMargin
    </sql>
</mapper>
