<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vayle.project.mapper.AttributeMapper">

    <resultMap id="BaseResultMap" type="com.vayle.project.model.entity.Attribute">
            <id property="attrId" column="attrId" jdbcType="INTEGER"/>
            <result property="attrName" column="attrName" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="Base_Column_List">
        attrId,attrName
    </sql>

    <select id="selectValuesByAttrId" resultType="com.vayle.project.model.vo.AttributeVo">
        select * from attribute left join attrvalue a on attribute.attrId = a.attrId
    </select>

</mapper>
