<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vayle.project.mapper.RoompictureMapper">

    <resultMap id="BaseResultMap" type="com.vayle.project.model.entity.Roompicture">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="roomId" column="roomId" jdbcType="INTEGER"/>
            <result property="pictureURL" column="pictureURL" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,roomId,pictureURL
    </sql>
</mapper>
